.git
.gitignore
.editorconfig
.env.local
.env.*.local
.env.test
var/
vendor/
node_modules/
tests/
phpunit.dist.xml
.phpunit.cache/
compose-disable.yaml
compose.override-disable.yaml
README.md
*.md
.DS_Store
Thumbs.db
